---
// Prueba de commit y push a GitHub - 2025-04-20
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Menú Dulce Delicia</title>
		<!-- Importa Tailwind global -->
		<link rel="stylesheet" href="/global.css" />
	</head>

	<body>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
